/* @theme layout */
p.size10 {
  font-size: 10pt;
}

p.size11 {
  font-size: 11pt;
}

p.size12 {
  font-size: 12pt;
}

p.size16 {
  font-size: 16pt;
}

p.size32 {
  font-size: 32pt;
}

.right {
  text-align: right; 
}

.left {
  text-align: left; 
}

.center {
  text-align: center; 
}

p.right {
  text-align: right; 
}

p.left {
  text-align: left; 
}

p.center {
  text-align: center; 
}
p.size10 {
  font-size: 10pt;
}

p.size11 {
  font-size: 11pt;
}

p.size12 {
  font-size: 12pt;
}

p.size16 {
  font-size: 16pt;
}

p.size32 {
  font-size: 32pt;
}

.right {
  text-align: right; 
}

.left {
  text-align: left; 
}

.center {
  text-align: center; 
}

p.right {
  text-align: right; 
}

p.left {
  text-align: left; 
}

p.center {
  text-align: center; 
}
html {
  font-size: 62.5%;
  /*16px * 62.5% = 10px*/
}

p {
  font-size: 1.6rem;
  /*10px * 1.6 = 16px*/
}

p.size10 {
  font-size: 10pt;
}

p.size11 {
  font-size: 11pt;
}

p.size12 {
  font-size: 12pt;
}

p.size16 {
  font-size: 16pt;
}

p.size32 {
  font-size: 32pt;
}

.right {
  text-align: right; 
}

.left {
  text-align: left; 
}

.center {
  text-align: center; 
}

p.right {
  text-align: right; 
}

p.left {
  text-align: left; 
}

p.center {
  text-align: center; 
}